@using EntityLayer.Concrete
@model List<LogEntry>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-12 mt-2">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-md-2">
                </div>
            </div>

        </div>
        <div class="card-body">
            <h5>Bot Console: <b class="text-danger">(Kritik hatalar listelenir - SON 24 SAAT)</b></h5>

            <div class="console bg-dark p-2">
                @foreach (var item in Model)
                {
                    <div class="console-items">
                        <div class="console-item-date">@item.Date</div>
                        <div class="console-item-message">@item.Log</div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
