<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/Home/" class="brand-link">
        <span class="brand-text font-weight-light">ClebWeb Panel</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a href="/Home/" class="nav-link">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Anasayfa
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon far fa-plus-square"></i>
                        <p>
                            Ürün İşlemleri
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/Product/" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Ürünler</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Product/Create/" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Ürün Ekle</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon far fa-user"></i>
                        <p>
                            Kullanıcılar
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/User/" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Kullanıcılar</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/User/Create/" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Kullanıcı Ekle</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-money-bill-alt"></i>
                        <p>
                            Kasa İşlemleri
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/SafeBox/" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Kasalar</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/SafeBox/Create/" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Kasa Ekle</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-box"></i>
                        <p>
                            Ürün Alım İşlemleri
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/Expenditure/" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Alımlar</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Expenditure/Create/" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Alım Ekle</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="/Log/" class="nav-link">
                        <i class="nav-icon fas fa-database"></i>
                        <p>
                            Loglar
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/BotSetting/" class="nav-link">
                        <i class="nav-icon fas fa-cog"></i>
                        <p>
                            Bot Ayarları
                        </p>
                    </a>
                </li>
                <!--  <li class="nav-header">LABELS</li> -->

            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>